/* Signup.css */
/* Reset margin and padding for body and html */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #111; /* Dark background to match the homepage theme */
}

.signup h1 {
  margin-bottom: 20px;
  font-size: 32px;
  color: #ffffff; /* Change to white for contrast */
  font-weight: bold;
}

.signup form {
  background-color: #333; /* Dark background to match the homepage theme */
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 350px;
}

.signup form input {
  width: calc(100% - 20px);
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #cccccc;
  border-radius: 25px;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signup form button {
  width: 50%;
  padding: 15px;
  background-color: #0a0a0a; /* Match button color with homepage theme */
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-left: auto; /* Center the button */
  margin-right: auto;
}

.signup form button:hover {
  background-color: #a29d98; /* Slightly darker gold on hover */
}

.signup .error {
  color: red;
  margin-top: 10px;
  text-align: center;
}

.signup .google-signup {
  margin-top: 10px;
  height: 40px;
  background-color: #0a0a0a;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signup .google-signup:hover {
  background-color: #a29d98;
}

/* Media Queries for Responsiveness */

/* Tablets */
@media (max-width: 1024px) {
  .signup h1 {
    font-size: 28px;
  }

  .signup form {
    padding: 30px;
  }

  .signup form input {
    padding: 12px;
    font-size: 14px;
  }

  .signup form button {
    width: 60%;
    padding: 12px;
  }

  .signup .google-signup {
    font-size: 13px;
    height: 35px;
  }
}

/* Mobile Devices */
@media (max-width: 768px) {
  .signup h1 {
    font-size: 24px;
  }

  .signup form {
    padding: 25px;
  }

  .signup form input {
    padding: 10px;
    font-size: 13px;
  }

  .signup form button {
    width: 70%;
    padding: 10px;
  }

  .signup .google-signup {
    font-size: 12px;
    height: 30px;
  }
}

/* Small Mobile Devices */
@media (max-width: 480px) {
  .signup h1 {
    font-size: 20px;
  }

  .signup form {
    padding: 20px;
    max-width: 300px;
  }

  .signup form input {
    padding: 8px;
    font-size: 12px;
  }

  .signup form button {
    width: 80%;
    padding: 8px;
    font-size: 14px;
  }

  .signup .google-signup {
    font-size: 12px;
    height: 30px;
  }
}
