/* Services.css */
/* Reset margin and padding for body and html */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}



.services-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  color: #ffffff; /* Use your current color scheme */
  background: url('../../images/services.png') no-repeat center center/cover; /* Add your image path here */
  position: relative;
  min-height: 90vh; /* Ensure it covers the entire viewport height */
  width: 100%; /* Ensure it covers the entire viewport width */
}

.services-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity as needed */
  z-index: 1;
}

.services-section h2,
.services-section .services-list {
  position: relative;
  z-index: 2;
}

.services-section h2 {
  font-size: 5.5rem;
  margin-bottom: 70px; /* Increased margin to separate title from items */
  font-family: 'Georgia', serif;
  color: white;
}

.services-list {
  width: 100%;
  max-width: 800px;
  font-family: 'Georgia', serif;
  color: white;
}

.service-item {
  display: flex;
  justify-content: space-between; /* Ensures space between name and price */
  align-items: center;
  padding: 25px 0; /* Increased padding to space out items */
  border-bottom: 1px solid #ffffff; /* Line color matching your scheme */
}

.service-name {
  font-size: 1.5rem;
  flex: 1; /* Ensure it takes available space */
  text-align: left; /* Align text to the left */
}

.service-price {
  font-size: 1.5rem;
  flex: 0 0 100px; /* Fixed width for the price column */
  text-align: right; /* Align text to the right */
}
