html, body {
  margin: 0;
  padding: 0;
  height: 800px;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background-color: #111;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  width: 100%;
  height: 800px;
  flex-direction: row; /* Default layout for larger screens */
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.about-text {
  max-width: 50%;
  margin-left: 40px;
}

.about-text h1 {
  font-size: 3rem;
  color: #f6f6f3; /* Gold color to match the homepage theme */
  margin-bottom: 20px;
  font-family: 'Georgia', serif;
}

.about-text p {
  font-size: 1rem;
  color: #ffffff; /* Change text color to white for contrast */
  line-height: 1.6;
  margin-bottom: 20px;
  font-family: 'Georgia', serif;
}

/* Media Queries for Responsiveness */

/* Tablets */
@media (max-width: 1024px) {
  .about-container {
    flex-direction: column;
    padding: 40px;
  }

  .about-text {
    max-width: 80%;
    margin-left: 0;
    margin-top: 20px;
  }

  .about-text h1 {
    font-size: 2.5rem;
  }

  .about-text p {
    font-size: 1.1rem;
  }
}

/* Mobile Devices */
@media (max-width: 768px) {
  .about-container {
    padding: 30px;
  }

  .about-text {
    max-width: 90%;
    margin-left: 0;
    margin-top: 20px;
  }

  .about-text h1 {
    font-size: 2rem;
  }

  .about-text p {
    font-size: 1rem;
  }
}

/* Small Mobile Devices */
@media (max-width: 480px) {
  .about-container {
    padding: 20px;
  }

  .about-text {
    max-width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }

  .about-text h1 {
    font-size: 1.8rem;
    text-align: center;
  }

  .about-text p {
    font-size: 0.9rem;
  }
}
