/* Reset margin and padding for body and html */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.home {
  text-align: center;
  padding: 20px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #1a1a18;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #b89d31;
}

/* Media Queries for Responsiveness */

/* Tablets */
@media (max-width: 1024px) {
  .home {
    padding: 15px;
  }

  button {
    padding: 8px 18px;
    font-size: 15px;
  }
}

/* Mobile Devices */
@media (max-width: 768px) {
  .home {
    padding: 10px;
  }

  button {
    padding: 7px 16px;
    font-size: 14px;
  }
}

/* Small Mobile Devices */
@media (max-width: 480px) {
  .home {
    padding: 8px;
  }

  button {
    padding: 6px 14px;
    font-size: 13px;
  }
}
