/* Reset margin and padding for body and html */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}


.home {
    text-align: center;
    padding: 20px;
  }
  
  button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #1a1a18; 
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #b89d31; 
  }
  