/* General Styles */
html {
  scroll-behavior: smooth;
}

body {
  overflow-y: auto;
  scroll-behavior: smooth; /* Keep smooth scrolling */
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.scroll-container {
  flex: 1;
  overflow-y: auto;
  scroll-behavior: smooth; /* Keep smooth scrolling */
  /* Removed scroll-snap-type */
}

.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Removed scroll-snap-align */
}

/* Header Styles */
.header {
  background-color: #333;
  color: white;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  display: flex;
  align-items: center;
}

.header .logo img {
  height: 40px;
  margin-right: 10px;
}

.header h1 {
  font-size: 24px;
}

.header nav {
  margin-right: 20px;
}

.header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.header nav ul li {
  margin: 0 10px;
}

.header nav ul li a {
  color: white;
  text-decoration: none;
}

/* Footer Styles */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

.appointment-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.appointment-form {
  display: flex;
  flex-direction: column;
}

.appointment-form label {
  margin-bottom: 10px;
}

.appointment-form input {
  margin-top: 5px;
  padding: 8px;
  font-size: 16px;
}

.appointment-form button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #d4af37;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.appointment-form button:hover {
  background-color: #c39e32;
}
